To: {$address}
From: Dr Bean <drbean@freeshell.org>
Subject: Homework for Week 1(2) now up for {$league}. 
Reply-To: drbean@freeshell.org

There was no class in Week 1.

I have put the homework up for Week 1 at http://web.nuu.edu.tw/~greg/DictationExercises.html.

Please do it before the class in Week 2, this Thursday.

The deadline to finish the homework is Saturday morning, March 9 at the end of Week 2.

