To: {$address}
From: Dr Bean <drbean@freeshell.org>
Subject: Result of Week 18 debate in {$league}. 
Reply-To: drbean@freeshell.org

I want the results of the debate in Week 18 last week Wednesday, before midday, Thursday.

I am about to submit grades.

If I don't get them on elearning, both winner's and loser's groups will get only 2.

