To: {$address}
From: Dr Bean <drbean@freeshell.org>
Subject: Homework for Week 1(2) now up for {$league}. 
Reply-To: drbean@freeshell.org

I have put the homework up for Week 1 at http://web.nuu.edu.tw/~greg/DictationExercises.html.

There is no class in Week 2.

The deadline to finish the homework is Saturday morning, March 3 at the end of Week 2.

