[% META title = 'Exercise List' -%]

<table>
<tr><th>Name</th><th>Description</th><th>Type</th><th>Score</th></tr>
[% FOREACH exercise IN exercises -%]
  [% id = exercise.id %]
  <tr>
    <td>[% exercise.id %]</td>
    <td>[% exercise.description %]</td>
    <td>[% exercise.type %]</td>
    <td>[% scores.$id %]</td>
    <td>
         <a href="[% Catalyst.uri_for('/play/update/') _ exercise.id %]">Go!</a>
    </td>
  </tr>
[% END -%]
</table>

