[% META title = 'Manual Form League Create' -%]

<form method="post" action="[% Catalyst.uri_for('form_create_do') %]">
<table>
  <tr><td>Id:</td><td><input type="text" name="id"></td></tr>
  <tr><td>Name:</td><td><input type="text" name="name"></td></tr>
  <tr><td>Field:</td><td><input type="text" name="field"></td></tr>
  <tr><td>Player IDs:</td><td><input type="textarea" name="player_ids"></td></tr>
</table>
<input type="submit" name="Submit" value="Submit">
</form>
