[% META title = "Sign-In" -%]

<h3>Enter an email address, eg U9876543@nuu.edu.tw.</h3>

<h4>This is how the site will identify you.</h4>

<form method="post" action="[% Catalyst.uri_for_action('/login/sign_in') %]">
<table>
  <tr><td>Email: </td><td><input type="text" name="email" size=40></td><td>Your identity here.</td></tr>
</table>
<input type="submit" name="Submit" value="Submit">
</form>
