[% META title = 'Manual Form Player Create' -%]

<form method="post" action="[% Catalyst.uri_for('form_create_do') %]">
<table>
  <tr><td>Id:</td><td><input type="text" name="id"></td></tr>
  <tr><td>Name:</td><td><input type="text" name="name"></td></tr>
  <tr><td>Password:</td><td><input type="text" name="password"></td></tr>
  <tr><td>League:</td><td><input type="text" name="league"></td></tr>
</table>
<input type="submit" name="Submit" value="Submit">
</form>
