[% META title = 'End of competition' -%]

<center><h1>STOP!</h1></center>
<h1>Congratulations on getting the question correct, and getting a full score for your homework.</h1>
<h2>Dr Bean now wants you to stop filling in the missing letters in the dictation.</h2>
<h3>Listen to the soundfile, but don't fill in any more letters.</h3>
